<%= form_for(@script) do |f| %>
  <% if @script.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@script.errors.count, "error") %> prohibited this script from being saved:</h2>

      <ul>
      <% @script.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :main_plot %>
    <%= f.text_field :main_plot, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :subplots %>
    <%= f.text_field :subplot_1, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.text_field :subplot_2, class: "form-control" %>
  </div>


<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Cast</th>
          <th>Role</th>
        </tr>
      </thead>

      <tbody>
          <tr>
            <td><p>Character 1</p></td>
            <td><%= f.text_field :cast_1, class: "form-control" %></td>
            <td><%= f.text_field :role_1, class: "form-control" %></td>
          </tr>
          <tr>
            <td><p>Character 2</p></td>
            <td><%= f.text_field :cast_2, class: "form-control" %></td>
            <td><%= f.text_field :role_2, class: "form-control" %></td>
          </tr>
          <tr>
            <td><p>Character 3</p></td>
            <td><%= f.text_field :cast_3, class: "form-control" %></td>
            <td><%= f.text_field :role_3, class: "form-control" %></td>
          </tr>
          <tr>
            <td><p>Character 4</p></td>
            <td><%= f.text_field :cast_4, class: "form-control" %></td>
            <td><%= f.text_field :role_4, class: "form-control" %></td>
          </tr>
          <tr>
            <td><p>Character 5</p></td>
            <td><%= f.text_field :cast_5, class: "form-control" %></td>
            <td><%= f.text_field :role_5, class: "form-control" %></td>
          </tr>
          <tr>
            <td><p>Character 6</p></td>
            <td><%= f.text_field :cast_6, class: "form-control" %></td>
            <td><%= f.text_field :role_6, class: "form-control" %></td>
          </tr>
          <tr>
            <td><p>Character 7</p></td>
            <td><%= f.text_field :cast_7, class: "form-control" %></td>
            <td><%= f.text_field :role_7, class: "form-control" %></td>
          </tr>
          <tr>
            <td><p>Character 8</p></td>
            <td><%= f.text_field :cast_8, class: "form-control" %></td>
            <td><%= f.text_field :role_8, class: "form-control" %></td>
          </tr>
          <tr>
            <td><p>Character 9</p></td>
            <td><%= f.text_field :cast_9, class: "form-control" %></td>
            <td><%= f.text_field :role_9, class: "form-control" %></td>
          </tr>
          <tr>
            <td><p>Character 10</p></td>
            <td><%= f.text_field :cast_10, class: "form-control" %></td>
            <td><%= f.text_field :role_10, class: "form-control" %></td>
          </tr>
          <tr>
            <td><p>Character 11</p></td>
            <td><%= f.text_field :cast_11, class: "form-control" %></td>
            <td><%= f.text_field :role_11, class: "form-control" %></td>
          </tr>
          <tr>
            <td><p>Character 12</p></td>
            <td><%= f.text_field :cast_12, class: "form-control" %></td>
            <td><%= f.text_field :role_12, class: "form-control" %></td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Incident</th>
          <th>Culprit</th>
        </tr>
      </thead>

      <tbody>
          <tr>
            <td><p>Day 1</p></td>
            <td><%= f.text_field :day_1, class: "form-control" %></td>
            <td><%= f.text_field :culprit_1, class: "form-control" %></td>
          </tr>
          <tr>
            <td><p>Day 2</p></td>
            <td><%= f.text_field :day_2, class: "form-control" %></td>
            <td><%= f.text_field :culprit_2, class: "form-control" %></td>
          </tr>
          <tr>
            <td><p>Day 3</p></td>
            <td><%= f.text_field :day_3, class: "form-control" %></td>
            <td><%= f.text_field :culprit_3, class: "form-control" %></td>
          </tr>
          <tr>
            <td><p>Day 4</p></td>
            <td><%= f.text_field :day_4, class: "form-control" %></td>
            <td><%= f.text_field :culprit_4, class: "form-control" %></td>
          </tr>
          <tr>
            <td><p>Day 5</p></td>
            <td><%= f.text_field :day_5, class: "form-control" %></td>
            <td><%= f.text_field :culprit_5, class: "form-control" %></td>
          </tr>
          <tr>
            <td><p>Day 6</p></td>
            <td><%= f.text_field :day_6, class: "form-control" %></td>
            <td><%= f.text_field :culprit_6, class: "form-control" %></td>
          </tr>
          <tr>
            <td><p>Day 7</p></td>
            <td><%= f.text_field :day_7, class: "form-control" %></td>
            <td><%= f.text_field :culprit_7, class: "form-control" %></td>
          </tr>
          <tr>
            <td><p>Day 8</p></td>
            <td><%= f.text_field :day_8, class: "form-control" %></td>
            <td><%= f.text_field :culprit_8, class: "form-control" %></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>


  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :tragedy_set %>
        <%= f.text_field :tragedy_set, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :difficulty %>
        <%= f.text_field :difficulty, class: "form-control" %>
      </div>

    </div>
    <div class="col-md-6">
      
      <div class="form-group">
        <%= f.label :Number_of_loops %>
        <%= f.text_field :num_loops, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :Days_per_loop %>
        <%= f.text_field :days_loop, class: "form-control" %>
      </div>

    </div>
  </div>

  <div class="form-group">
    <%= f.label :special_rule %>
    <%= f.text_area :special_rule, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :mastermind_hints %>
    <%= f.text_area :hints_1, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_area :hints_2, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_area :hints_3, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_area :hints_4, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_area :hints_5, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :victory_conditions %>
    <%= f.text_area :victory_conditions_1, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_area :victory_conditions_2, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_area :victory_conditions_3, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_area :victory_conditions_4, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_area :victory_conditions_5, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>