<%= render 'pages/home'%>

<h1>Scripts</h1>

<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th><%= sort_link @search, :title, "Title" %></th>
      <th><%= sort_link @search, :difficuty, "Difficulty" %></th>
      <th><%= sort_link @search, :tragedy_set, "Tragedy Set" %></th>
      <th><%= sort_link @search, :created_by, "Created_by" %></th>
      <th><%= sort_link @search, :updated_at, "Last Updated" %></th>
    </tr>
  </thead>

  <tbody>
    <% @scripts.each do |script| %>
      <tr>
        <td><%= link_to script.title, script %></td>
        <td><%= script.difficulty %></td>
        <td><%= script.tragedy_set %></td>
        <% if script.created_by %>
          <td><%= script.created_by %></td>
        <% else %>
          <td><%= script.user.name if script.user %></td>
        <% end %>
        <td><%= script.updated_at %></td>
        <% if user_signed_in? %>
          <% if current_user.admin == true then %>
            <td><%= link_to 'Destroy', script, method: :delete, data: { confirm: 'Are you sure?' } %></td>       
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
   <ul class="pager pagination-sm">
      <% pages = (Script.all.count / 10).ceil %>
      <% prev = "btn btn-default previous " + (@page == 0 ? 'disabled' : '')%>
      <% nex = "btn btn-default next " + (@page == pages ? 'disabled' : '')%>
      <% curr = "btn btn-default disabled"%>

      <li>
          <%= link_to "<< Previous", scripts_path(page: (@page == 0 ? 0 : @page - 1)), class: prev%>
      </li>
    
      <% (0..pages).each do |p| %>
        <% if p == @page %>
          <li><%= link_to p + 1, scripts_path(page: p), class: curr%></li>
        <% else %>
          <li><%= link_to p + 1, scripts_path(page: p) %></li>
        <% end %>
      <% end %>    

      <li>
        <%= link_to "Next >>", scripts_path(page: (@page == pages ? pages : @page + 1)), class: nex %>
      </li>
   </ul>
</div>
<br>

<div class="pull-right">
  <% if user_signed_in? %>
    <%= link_to 'New Script', new_script_path, class: "btn btn-primary btn-lg" %>
  <% end %>
</div>