<div class="row">
  <div class="col-md-6">

    <p>
      <strong>Title:</strong>
      <%= @script.title %>
    </p>
    <p>
      <strong>Created by:</strong>
      <%= @script.created_by %>
    </p>
    <p>
      <strong>Tragedy Set:</strong>
      <%= @script.tragedy_set %>
    </p>
    <p>
      <strong>Difficulty:</strong>
      <%= @script.difficulty %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @script.description %>
    </p>
    <p>
      <strong>Main Plot:</strong>
      <%= @script.main_plot %>
    </p>
    <p>
      <strong>Subplot 1:</strong>
      <%= @script.subplot_1 %>
    </p>
    <p>
      <strong>Subplot 2:</strong>
      <%= @script.subplot_2 %>
    </p>
    <p>
      <strong>Number of Loops:</strong>
      <%= @script.num_loops %>
    </p>
    <p>
      <strong>Days per Loop:</strong>
      <%= @script.days_loop %>
    </p>
    <p>
      <strong>Hints for Mastermind:</strong><br>
      <%= @script.hints_1 %><br>
      <%= @script.hints_2 %><br>
      <%= @script.hints_3 %><br>
      <%= @script.hints_4 %><br>
      <%= @script.hints_5 %>
    </p>
    <p>
      <strong>Victory Conditions for Mastermind:</strong><br>
      <%= @script.victory_conditions_1 %><br>
      <%= @script.victory_conditions_2 %><br>
      <%= @script.victory_conditions_3 %><br>
      <%= @script.victory_conditions_4 %><br>
      <%= @script.victory_conditions_5 %>
    </p>
    <p>
      <strong>Special Rule:</strong>
      <%= @script.special_rule %>
    </p>
  </div>

  <div class="col-md-6">
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th>Day</th>
          <th>Incident</th>
          <th>Culprit</th>
        </tr>
      </thead>
      <tbody> 
        <% if @script.day_1? %> 
          <tr>
            <td>Day 1</td>
            <td><%= @script.day_1 %></td>
            <td><%= @script.culprit_1 %></td>
          </tr>
        <% end %>

        <% if @script.day_2? %> 
        <tr>
          <td>Day 2</td>
          <td><%= @script.day_2 %></td>
          <td><%= @script.culprit_2 %></td>
        </tr>
        <% end %>

        <% if @script.day_3? %> 
        <tr>
          <td>Day 3</td>
          <td><%= @script.day_3 %></td>
          <td><%= @script.culprit_3 %></td>
        </tr>
        <% end %>

        <% if @script.day_4? %>     
        <tr>
          <td>Day 4</td>
          <td><%= @script.day_4 %></td>
          <td><%= @script.culprit_4 %></td>
        </tr>
        <% end %>

        <% if @script.day_5? %> 
        <tr>
          <td>Day 5</td>
          <td><%= @script.day_5 %></td>
          <td><%= @script.culprit_5 %></td>
        </tr>
        <% end %>

        <% if @script.day_6? %> 
        <tr>
          <td>Day 6</td>
          <td><%= @script.day_6 %></td>
          <td><%= @script.culprit_6 %></td>
        </tr>
        <% end %>

        <% if @script.day_7? %>    
        <tr>
          <td>Day 7</td>
          <td><%= @script.day_7 %></td>
          <td><%= @script.culprit_7 %></td>
        </tr>
        <% end %>

        <% if @script.day_8? %> 
        <tr>
          <td>Day 8</td>
          <td><%= @script.day_8 %></td>
          <td><%= @script.culprit_8 %></td>
        </tr>
        <% end %>

      </tbody>
    </table>
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th>Cast</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody> 
        <% if @script.cast_1? %> 
          <tr>
            <td><%= @script.cast_1 %></td>
            <td><%= @script.role_1 %></td>
          </tr>
        <% end %>

        <% if @script.cast_2? %> 
        <tr>
          <td><%= @script.cast_2 %></td>
          <td><%= @script.role_2 %></td>
        </tr>
        <% end %>

        <% if @script.cast_3? %> 
        <tr>
          <td><%= @script.cast_3 %></td>
          <td><%= @script.role_3 %></td>
        </tr>
        <% end %>

        <% if @script.cast_4? %>     
        <tr>
          <td><%= @script.cast_4 %></td>
          <td><%= @script.role_4 %></td>
        </tr>
        <% end %>

        <% if @script.cast_5? %> 
        <tr>
          <td><%= @script.cast_5 %></td>
          <td><%= @script.role_5 %></td>
        </tr>
        <% end %>

        <% if @script.cast_6? %> 
        <tr>
          <td><%= @script.cast_6 %></td>
          <td><%= @script.role_6 %></td>
        </tr>
        <% end %>

        <% if @script.cast_7? %>    
        <tr>
          <td><%= @script.cast_7 %></td>
          <td><%= @script.role_7 %></td>
        </tr>
        <% end %>

        <% if @script.cast_8? %> 
        <tr>
          <td><%= @script.cast_8 %></td>
          <td><%= @script.role_8 %></td>
        </tr>
        <% end %>

        <% if @script.cast_9? %> 
        <tr>
          <td><%= @script.cast_9 %></td>
          <td><%= @script.role_9 %></td>
        </tr>
        <% end %>

        <% if @script.cast_10? %> 
        <tr>
          <td><%= @script.cast_10 %></td>
          <td><%= @script.role_10 %></td>
        </tr>
        <% end %>

        <% if @script.cast_11? %>     
        <tr>
          <td><%= @script.cast_11 %></td>
          <td><%= @script.role_11 %></td>
        </tr>
        <% end %>

        <% if @script.cast_12? %>     
        <tr>
          <td><%= @script.cast_12 %></td>
          <td><%= @script.role_12 %></td>
        </tr>
        <% end %> 

      </tbody>
    </table>
  </div>

</div>

<div class="pull-right">
  <%= link_to 'Back', script_path, class:"btn btn-default" %>
  <% if @script.user == current_user %>
    <%= link_to 'Edit', edit_script_path(@script), class:"btn btn-primary" %>
  <% end %>
</div>

<br>

<hr>

<!-- shows each comment. if user is admin, shows delete. if user is same user, shows delete. if user signed in, shows add comment. -->
<p><strong>Comments</strong></p>
<% @script.comments.each do |comment| %>
  <p>
    <%= comment.body %><br>
    <span class="sub-text"><%= comment.user.name %>
      <% if user_signed_in? %>
        <% if current_user.admin == true then %>
          <%= link_to 'Delete', [@script, comment], method: :delete, data: { confirm: 'Are you sure? '} %>
        <% else %>
          <% if comment.user == current_user %>
            <%= link_to 'Delete', [@script, comment], method: :delete, data: { confirm: 'Are you sure? '} %>
          <% end %>
        <% end %>
      <% end %>
    </span>
  </p>
<% end %>

<% if user_signed_in? %>
  <%= form_for([@script, @script.comments.build]) do |f| %>
    <p><%= f.text_area :body, class:"form-control", placeholder:"Add a comment" %></p>
    <p><%= f.submit class: "btn btn-default pull-right" %></p>
  <% end %>
<% end %>
