<%= form_for @tset, html: { multipart: true } do |f| %>
  <% if @tset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tset.errors.count, "error") %> prohibited this tset from being saved:</h2>

      <ul>
      <% @tset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :created_by %>
        <%= f.text_field :created_by, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <span><%= f.label :attachment_1 %> (Note: This form only accepts PDF documents.)</span>
    <%= f.file_field :attachment_1, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description_1, class: "form-control" %><br>
    <%= f.text_area :description_2, class: "form-control" %><br>
    <%= f.text_area :description_3, class: "form-control" %><br>
    <%= f.text_area :description_4, class: "form-control" %><br>
    <%= f.text_area :description_5, class: "form-control" %><br>
    <%= f.text_area :description_6, class: "form-control" %><br>
    <%= f.text_area :description_7, class: "form-control" %><br>
    <%= f.text_area :description_8, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Submit Custom Tragedy Set", class: "btn btn-lg btn-primary" %>
    <%= link_to 'Back', tsets_path, class: "btn btn-default pull-right" %>
  </div>

<% end %>
